html, body, #root, .jumbotron {
	min-height: 100vh;
}

#jumbotron {
	margin-bottom: 0;
	padding-top: 30px;
}

#search-delete {
	position: absolute;
	height: 25px;
    width: 25px;
    top: 38px;
    background-color: aliceblue;
	right: 13px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

#search-delete:hover {
	background-color: rgba(216, 216, 216, 0.911);
}

.table-link {
	display: block;
	text-decoration: none;
	color: inherit;
}

.table-link:hover {
	color: inherit;
}